@import "../../app.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gothic&display=swap');


.navbar{
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: "Noto Sans Gothic", sans-serif;
    position: fixed;
    top: 0;
    z-index: 999;  /*dont wanna see navbar over this index*/
    background: linear-gradient(to top,transparent 0%, rgb(0,0,0,0.3) 50%);

    &.scrolled{
        background-color: var(--main-color);
    }

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 40px;
                margin-right: 40px;
                cursor: pointer;

                @include mobile{
                    display: none;
                }
            }

            span{
                margin-right: 20px;
                cursor: pointer;

                @include table{
                    display: none;
                }

                &.navbarmainLinks{
                    @include table{
                        display: block;
                    }
                }
            }
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        
            .link {
                text-decoration: none;
                color: white;
                margin: 0 15px;
                padding: 10px;
                border-radius: 5px;
                transition: background-color 0.3s ease; /* Transition for background color */
            }
        
            .link:hover {
                background-color: rgba(255, 255, 255, 0.1); /* Transparent background on hover */
            }
        }
        

        .right{
            display: flex;
            align-items: center;

            .icon{
                margin: 0px 15px;
                height: 25px;
                width: 25px;
                object-fit: cover;
                cursor: pointer;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
            
            .icon-profile{
                margin: 0px 15px;
                color: aliceblue;
                height: 25px;
                width: 25px;
                object-fit: cover;
                cursor: pointer;
            }
            .profile {
                position: relative; /* Ensure position context for the absolute dropdown */
                cursor: pointer;
                margin: 0px 15px;
                .options {
                    display: none;
                    position: absolute;
                    top: 100%; /* Position the dropdown below the profile */
                    right: 0; /* Align the dropdown with the right edge of the profile */
                    background-color: rgba(237, 80, 80, 0.177);
                }
            
                .option {
                    padding: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s ease; /* Transition for background color */
                }
                .option-text{
                    padding: 10px;
                    text-align: center;
                    font-size: 15px;
                }
            
                .option:hover {
                    background-color: rgba(255, 255, 255, 0.1); /* Transparent background on hover */
                    text-align: center; /* Center align text on hover */
                }
            
                &:hover .options {
                    display: flex;
                    flex-direction: column;
                }
            }
                }
            }
        }