.watch {
    width: 100vw;
    height: 100vh;
    position: relative;
  
    .back {
      display: flex;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      cursor: pointer;
      z-index: 2;
    }
  
    .video {
      width: 100%;
      height: calc(100% - 40px); /* Adjusted height to accommodate the back button */
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  